<h2><%= @list.name %></h2>
<% if current_user == @list.owner %>
  <h4>You own this list!</h4>
<% else %>
  <h3><%= @list.owner.first_name %> owns this list!</h3>
<% end %>


<% if @list.tasks != [] %>
  <ul>
    <%= render collection: @list.tasks, partial: "tasks/task_li", as: :task %>
  </ul>
<% end %>

<%= render partial: 'tasks/new_task_form', locals: {list: @list, task: @task} %>

<%= link_to 'home', lists_path, class:"home" %>
