<li class= "<%= task.status %>">
  <%= task.name %>
  <%= form_tag [@list, task], method: "put" do%>
    <%= radio_button("task", :status, 'not_started', checked: (task.status == "not_started")) %>
    <%= label_tag(:status, 'Not Started') %>
    <%= radio_button("task", :status, 'started', checked: (task.status == "started")) %>
    <%= label_tag(:status, 'Started') %>
    <%= radio_button("task", :status, 'finished', checked: (task.status == "finished")) %>
    <%= label_tag(:status, 'Finished') %>
    <%= submit_tag "✔️" %>
  <% end %>
  <%= button_to "❌", [@list, task], method: :delete %>
</li>
