<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
      <% if user_signed_in? %>
        <li>Signed in as <%= current_user.first_name %>. Not you?</li>
        <li><%= link_to "Sign out", destroy_user_session_path,:method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %> </li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %></li>
      <% end %>
    </ul>
    <ul class= "errors">
      <li><%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %></li>
      <li><%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %></li>
      <li><%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %></li>
    </ul>
    </nav>
    <div class="wrapper">
    <%= yield %>
    </div>
  </body>
</html>
